@{
    ViewBag.Title = "Reset password confirmation";
}
<head>
    <style>
        .bg {
            background: url(/Media/background.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: white
        }

        img {
            border-radius: 30%;
        }
    </style>
</head>
<body class="bg">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
    </body>